@model DoctorsApp.Models.Doctor
@{
    ViewData["Title"] = "Delete";
}

<a asp-action="Index">Back to List</a>
<p class="text-center text-warning">Are You sure You want to delete this record!</p>
<table class="table table-success table-striped table-hover">
    <thead class="table-success table-secondary">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Degree</th>
            <th scope="col">VisitFee</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
       
                <tr>
            <td>
               
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </td>
            <td> 
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </td>
            <td>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Mobile)
                </dd>
            </td>
            <td>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Degree)
                </dd>
            </td>
            <td>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VisitFee)
                </dd>
            </td>
            <td>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
            </td>
                    <td>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    
                   
                </form>
                    </td>
                </tr>
            
    </tbody>
</table>
